.ui-draggable-handle
	-ms-touch-action: none
	touch-action: none

/**
 * Custom CSS overrides
 */

.sub-category__container.is-hidden-tablet
	display: flex
	overflow: hidden
	width: 100%


.sub-category__tabs
	padding-top: 0.5rem
	padding-bottom: 0.5rem

.sub-category__tabs.is-draggable
	display: flex

.sub-category
	+mobile
		position: fixed
		+box-shadow(0 0px 4px 0 transparentize($black, 0.75))
		z-index: 9999

.main-services
	padding-top: $size-1
	padding-bottom: $size-2
	+mobile
		padding-left: 1.5rem
		padding-right: 1.5rem

.main-services__row
	margin-bottom: 2rem !important
	+mobile
		margin-bottom: 1rem !important

.main-services__grid
	display: flex
	flex-direction: column
	padding-left: 1rem
	padding-right: 1rem
	a
		display: flex
		flex-direction: column
	+mobile
		padding-top: 0.5rem
		padding-bottom: 0.5rem

.main-services__image
	border-top-right-radius: 4px
	border-top-left-radius: 4px
	width: 100%
	height: auto
	+mobile
		display: none

.main-services__button
	+tablet
		border-top-right-radius: 0 !important
		border-top-left-radius: 0 !important

.services__card
	// padding: $size-3 $size-4
	height: 100%
	.services__title
		color: $primary !important
		font-size: 1.5rem !important
	.card-content > *:not(:nth-last-child(1))
		margin-bottom: 0.5rem

.services__provider
	font-weight: $weight-medium

.services__link
	color: $grey !important
	i.fa
		margin-right: 0.5rem

.services__row
	.column
		margin-bottom: 2rem

.hero--planner
	background: url('../images/services-planner/planner-header.png')
.hero--suit-gown
	background: url('../images/services-suit-gown/suit-gown-header.png')
.hero--flowers
	background: url('../images/services-flowers/flowers-header.png')
.hero--cake
	background: url('../images/services-cake/cake-header.png')
.hero--entertainment
	background: url('../images/services-entertainment/entertainment-header.png')
.hero--makeup
	background: url('../images/services-makeup/makeup-header.png')
.hero--invitation
	background: url('../images/services-invitation/invitation-header.png')
.hero--photo
	background: url('../images/services-photo/photo-header.png')
.hero--venue
	background: url('../images/services-venue/venue-header.png')


.main-header
	+tablet
		.container
			*
				width: 66%
