#topbox{
	padding:7rem 0rem;
	background-image: url("../../public/static/images/about/about.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
#topbox .hero-body{
	padding-top: 0.5rem;
}
#topbox h1{
	font-size: 3rem;
	line-height: 1.125;
}
#topbox p{
	font-size: 1rem;
	line-height: 1.125;
}
#main-body{
	margin:4rem 1rem;
}
#main-body img{
	height: 100%; 
	width: auto;
}	

#main-body p{
	text-align: justify;
}

#mapbox{
	margin: 0rem;
}
.address{
	padding: 2rem;
}