
#topbox{
	padding:5.5rem 0rem;
	background-image: url("http://via.placeholder.com/1380x400");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
#main-header{
	margin: 4rem 0rem;
}
#main-hear p{
	margin-top: 2rem;
}
#main-body{
	margin:2rem 0rem;
	padding: 4rem 0rem;
	background-color: #F5F5F5;
}
#main-body img{
}	
#main-body .content{
    position: relative;
    top: 25%;
}
.card{
	padding: 45px 32px;
	margin: 0px 10px;
}
.card h1{
	color: #FF5A77;
}
